

header {
    border: solid 2px red;
}

nav {
    border: solid 2px green;
}

main {
    border: solid 2px dodgerblue;
}

#LeftPanelPublic {
    border: solid 2px forestgreen;
}

footer {
    border: solid 2px darkorange;
}